<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  
  <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAmiyPSCRW_XH8LJhUSZTr06BeIbmroq0Y",
      authDomain: "infs3202-24203.firebaseapp.com",
      databaseURL: "https://infs3202-24203.firebaseio.com",
      projectId: "infs3202-24203",
      storageBucket: "infs3202-24203.appspot.com",
      messagingSenderId: "469120639682"
    };
    firebase.initializeApp(config);
  </script>
  </h1>
  <form>
    <div class="imgcontainer">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

